.wrapper{
    display: flex;
    position: absolute;
    width: 100%;
    top: 80px;
}
.wrapper1{
    flex:2.5;
    margin-left: 2.5px;
    margin-right: 2.5px;
    margin-top: 2.5px;
    border-left: 1px solid rgb(221, 220, 228);
    border-right: 1px solid rgb(221, 220, 228);
    border-top: 1px solid rgb(221, 220, 228);
    border-radius: 6px ;
    padding: 3px;

}
.wrapper1 img{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 3%;
    border-radius: 4px;
    
}
